.header {
  height: 74px;
  padding-top: 18px;
  box-sizing: border-box;
}

.header_main {
  background-color: #073042;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 45px;
}

.header__nav {
  gap: 30px;
  flex: 1;
  overflow: auto;
}

.header__auth {
  gap: 30px;
}

.header__reg {
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__links {
  margin: 0 auto 0 0;
  padding: 0;
  display: flex;
  gap: 16px;
  list-style: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.header__burger {
  display: none;
  background-color: transparent;
  border: none;
  flex-direction: column;
  gap: 7px;
}

.header__burger>span {
  display: block;
  height: 3px;
  width: 28px;
  background-color: #fff;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .header__content {
    padding: 0 30px;
  }
}

@media screen and (max-width: 1023px) {
  .header__nav {
    display: none;
  }

  .header__burger {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header__reg {
    font-size: 10px;
    line-height: 16px;
  }

  .header__nav {
    gap: 15px
  }
}