.button {
  transition: all 0.3s ease;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  background-color: #313131;
  color: #fff;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.button:hover {
  opacity: 0.6;
}

.button:active {
  scale: 0.9;
}

.button_variant_close {
  background-size: 12px;
  background-image: url(../../images/x.png);
}

.button_variant_fav {
  background-image: url(../../images/fav.png);
}

.button_variant_favvis {
  background-color: #3DDC84;
  background-image: url(../../images/fav_vis.png);
}

.button_variant_man {
  background-color: transparent;
  padding: 0 15px 0 30px;
  width: unset;
  background-position: 10px 50%;
  border: 2px solid #AAAAAA;
  border-radius: 50px;
  background-image: url(../../images/man.svg);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.04em;
  white-space: nowrap;
}