.link {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease all;
}

.link_active,
.link:hover {
  color: #3DDC84;
}

.link:active {
  opacity: 0.6;
}

.link_variant_blue {
  color: #4285F4;
}