.movie {
  width: 100%;
}

.movie__article {
  background-color: #222222;
  transition: 0.1s ease transform;
  width: 100%;
  overflow: hidden;
}

.movie__article:hover {
  transform: scale(1.03);
}

.movie__article:active {
  transform: scale(1.03);
}

.movie__header {
  padding: 14px;
}

.movie__name {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 0 0 5px;
}

.movie__time {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8B8B8B;
}

.movie__imgwrapper {
  height: 0;
  width: 100%;
  padding-bottom: 56%;
}

.movie__image {
  width: 100%;
}